*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.mein-link {
  color: #4e75ff;

  font-size: 1.25rem;
  cursor: pointer;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mein-link:hover,
.mein-link:focus {
  color: tomato;
}

button {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
